.footer {
  margin-top: var(--space-12);
  margin-bottom: var(--space-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-decoration {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.footer-art {
  width: 100%;
  height: auto;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
  margin-bottom: var(--space-8);
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
  transition: opacity 0.1s ease;
  opacity: 0.5;
}

.footer-badge-container {
  position: relative;
  width: 100px;
  height: 50px;
}

.footer-link {
  color: var(--color-brand-primary) !important;
}

.footer-contact:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .footer {
    margin-bottom: var(--space-8);
  }

  .footer-decoration {
    width: 500px;
    margin-bottom: var(--space-8);
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-2);
    margin-bottom: var(--space-8);
  }

  .footer-content:hover {
    fill: var(--color-link-hover);
  }
}
