version: "3.8"
services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URI=postgres://eventguide:password@db:5432/eventguide
    depends_on:
      - db
    volumes:
      - uploads:/app/uploads

  db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=eventguide
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=eventguide
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  uploads:
