.artistsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: var(--space-8);
  column-gap: var(--space-2);
}

.artistCard {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  position: relative;
}

.artistCard:hover .artistName {
  color: var(--color-text-accent);
  transition: color 0.1s ease;
}

.artistCard:hover .artistAvatarOverlay {
  background-color: var(--color-overlay-primary-light);
  transition: background-color 0.1s ease;
}

.artistAvatarContainer {
  border: var(--border-card);
  box-shadow: var(--box-shadow-card);
  border-radius: var(--radius-lg);
  aspect-ratio: 4/5;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.artistAvatar {
  object-fit: cover;
}

.artistAvatarOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.1s ease;

  z-index: 2;
}

.artistName {
  font-size: var(--font-size-sm);
}

@media (min-width: 768px) {
  .artistsGrid {
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .artistsGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
