.searchField {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
  border: 1px solid var(--color-border-primary);
  border-bottom: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  padding: 0 var(--space-8);
  height: 2.25rem;
  margin-right: var(--space-4);
  background: var(--color-background-secondary);
  cursor: pointer;
}

.searchField:hover .searchFieldText {
  color: var(--color-brand-primary);
  transition: color 0.1s ease;
}

.searchFieldIcon {
  width: 14px;
  height: 14px;
  filter: invert(1) brightness(70%);
  position: relative;
}

.searchFieldText {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-secondary);
}
