.main-layout {
  min-height: 100vh;
  background-color: var(--color-background-primary);
}

.layout-content {
  color: var(--color-text-primary);
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container {
  width: 250px;
  margin-top: var(--space-4);
  margin-bottom: var(--space-4);
  margin-left: auto;
  margin-right: auto;
}

.logo-container img {
  width: 100%;
  height: 100%;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--space-4);
  min-height: 1000px;

  border-radius: var(--radius-lg);
  margin-bottom: var(--space-4);
}

@media (min-width: 768px) {
  .layout-content {
    max-width: 700px;
  }

  .logo-container {
    width: 650px;
    margin-top: var(--space-16);
    margin-bottom: var(--space-4);
  }

  .main-content {
    padding: var(--space-2);
    background-color: var(--color-background-secondary);

    border: var(--border-card);
    box-shadow: var(--box-shadow-card);
  }
}
