.main-layout {
  min-height: 100vh;
  background-color: var(--color-background-primary);
}

.layout-content {
  color: var(--color-text-primary);
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container {
  position: relative;
}

.logo-container {
  width: 250px;
  margin: var(--space-4) auto;
}

.logo-container img {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;

  border-radius: var(--radius-lg);
  margin-bottom: var(--space-4);
  padding: var(--space-4);
}

.main-content {
  width: 100%;
  min-height: 500px;

  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .layout-content {
    max-width: 700px;
  }

  .logo-container {
    width: 650px;
    margin: var(--space-16) auto var(--space-4);
  }

  .content {
    background-color: var(--color-background-secondary);
    padding: var(--space-2);

    border: var(--border-card);
    box-shadow: var(--box-shadow-card);
  }
}
