.date-picker {
  position: relative;
  background-color: color-mix(in srgb, var(--color-brand-primary) 5%, transparent);
  padding: var(--space-2) var(--space-4);
  border-radius: var(--radius-lg);
  color: var(--color-brand-primary); /* Yellow color */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  min-height: 24px;

  width: fit-content;

  margin: 0 auto var(--space-2) auto;

  justify-self: center;
}

.dateInput {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.dateInput:focus + .date-display {
  outline: none;
}

.date-display {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  pointer-events: none;
  z-index: 1;
}

.date-text {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  color: var(--color-brand-primary);
}

.chevron-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}
