.tabsSwitch {
  display: flex;
  width: fit-content;
  margin-left: var(--top-panel-end-margin);
  border: var(--top-panel-border);
  border-bottom: var(--top-panel-border-bottom);
  box-shadow: var(--top-panel-box-shadow);
  border-radius: var(--top-panel-border-radius);
}

.tabsSwitchButton {
  background: var(--color-background-secondary);
  border: var(--top-panel-border-bottom);
  cursor: pointer;
  width: fit-content;
  padding: var(--top-panel-item-padding);
  font-weight: var(--top-panel-item-font-weight);
  border-bottom: transparent solid 2px;
  font-family: var(--font-family-primary);
}

.firstTab {
  border-radius: var(--radius-lg) 0 0 0;
}

.lastTab {
  border-radius: 0 var(--radius-lg) 0 0;
}

.tabsSwitchButtonActive {
  border-bottom: var(--color-brand-primary) solid 1px;
  background: var(--color-background-primary);
}

.tabsSwitchButtonActive span {
  color: var(--top-panel-item-active-color);
}

.tabsSwitchButtonText {
  color: var(--color-text-secondary);
  font-size: var(--font-size-sm);
}

.tabsSwitchButton:hover span {
  color: var(--top-panel-item-active-color);
}
